/* 各コンテンツのフォントサイズ・アイコンサイズなどもここに */
$header-font-family: 'AcademyEngravedLetPlain', sans-serif;
$header-title-font-size: 3rem;
$header-font-size: 1rem;
$body-background-color: rgb(255, 238, 244);
$line-color: #000000;
$burger-width: 30px;
$burger-height: 20px;
$burger-line-height: 1px;
$nav-transition: 0.3s;
$contents-icon-size: 100px;
$contents-title-size: 100px;
$contents-shine-size: 40px;
$line-color: #000;           // 線の色
$line-width: 150px;           // 線の長さ
$line-height: 0.5px;           // 線の太さ
$line-margin-left: 10px;     // spanの右に出すときの余白
$workhistory-icon-size: 300px;